
<div class="container">
    <div class="main-header">
        <h2 class="display-4 mb-3">Actualités</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta excepturi numquam doloribus
            incidunt deserunt maiores eligendi officia architecto, mollitia fugiat repellat autem velit
            aliquam, aliquid magnam saepe at nesciunt ratione nisi sapiente. Aperiam vitae hic, qui sed
            nobis. Reprehenderit, ex.</p>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="https://img.freepik.com/photos-gratuite/drole-heureux-excite-jeune-jolie-femme-assise-table-chemise-noire-travaillant-ordinateur-portable-au-bureau-travail-portant-lunettes_285396-86.jpg?w=1800&t=st=1702829927~exp=1702830527~hmac=b3bc4f6fda5c52770c00d9b73db33815d68124d667c072daea4a4d90a58bb086" alt="" class="img-fluid actu-img">
        </div>
        <div class="col-md-6 col-sm-12 align-self-center">
            <div class="main-text">
                <h3>Actu 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quasi tempora doloremque
                    reprehenderit nihil dignissimos eaque repellendus quidem non vero quo inventore illum beatae
                    rerum in quibusdam, numquam culpa quisquam eius laboriosam, adipisci ex modi expedita.</p>

                <p>Libero non rerum quasi enim explicabo, obcaecati eum aspernatur cupiditate quam, nobis
                    placeat, rem.</p>
                <hr>
                <span class="pull-left">Décembre 02, 2023</span>
                <a href="javascript:;" class="cta">Read More <i class="fa fa-arrow-circle-o-right"
                        aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

    <!--/one -->

    <div class="row">
        <div class="col-md-6 col-sm-12  align-self-center">
            <div class="main-text text-right">
                <h3>Actu 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quo maiores et non nihil
                    nam, commodi nulla odit eum necessitatibus beatae nemo, aliquid sunt ab ducimus. </p>

                <p>Facilis nam laboriosam eius quo modi, reprehenderit consequuntur facere doloribus cum sed
                    ducimus veniam, non ut consequatur deserunt, ullam obcaecati! Dolor ex accusamus suscipit
                    dolorem animi nobis. Sapiente blanditiis, molestiae ratione ducimus earum maxime!</p>
                <hr>
                <span class="pull-left">Novembre 22, 2023</span>
                <a href="javascript:;" class="cta">Read More <i class="fa fa-arrow-circle-o-right"
                        aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 order-first order-lg-last">
            <img src="https://img.freepik.com/photos-gratuite/drole-heureux-excite-jeune-jolie-femme-assise-table-chemise-noire-travaillant-ordinateur-portable-au-bureau-travail-portant-lunettes_285396-86.jpg?w=1800&t=st=1702829927~exp=1702830527~hmac=b3bc4f6fda5c52770c00d9b73db33815d68124d667c072daea4a4d90a58bb086" alt="" class="img-fluid actu-img">
        </div>
    </div>
    <!--/two -->

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="https://img.freepik.com/photos-gratuite/drole-heureux-excite-jeune-jolie-femme-assise-table-chemise-noire-travaillant-ordinateur-portable-au-bureau-travail-portant-lunettes_285396-86.jpg?w=1800&t=st=1702829927~exp=1702830527~hmac=b3bc4f6fda5c52770c00d9b73db33815d68124d667c072daea4a4d90a58bb086" alt="" class="img-fluid actu-img">
        </div>
        <div class="col-md-6 col-sm-12  align-self-center">
            <div class="main-text">
                <h3>Actu 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quasi tempora doloremque
                    reprehenderit nihil dignissimos eaque repellendus quidem non vero quo inventore illum beatae
                    rerum in quibusdam, numquam culpa quisquam eius laboriosam, adipisci ex modi expedita.</p>

                <p>Libero non rerum quasi enim explicabo, obcaecati eum aspernatur cupiditate quam, nobis
                    placeat, rem.</p>
                <hr>
                <span class="pull-left">Nomvembre 02, 2023</span>
                <a href="javascript:;" class="cta">Read More <i class="fa fa-arrow-circle-o-right"
                        aria-hidden="true"></i></a>

            </div>
        </div>
    </div>
    <!--/three -->

    <div class="row">
        <div class="col-md-6 col-sm-12 align-self-center">
            <div class="main-text text-right">
                <h3>Actu 4</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quo maiores et non nihil
                    nam, commodi nulla odit eum necessitatibus beatae nemo, aliquid sunt ab ducimus. Facilis nam
                    laboriosam eius quo modi, reprehenderit consequuntur facere doloribus cum sed ducimus
                    veniam, non ut consequatur deserunt, ullam obcaecati!</p>
                <p> Dolor ex accusamus suscipit dolorem animi nobis. Sapiente blanditiis, molestiae ratione
                    ducimus earum maxime!</p>
                <hr>
                <span class="pull-left">Octobre 22, 2023</span>
                <a href="javascript:;" class="cta">Read More <i class="fa fa-arrow-circle-o-right"
                        aria-hidden="true"></i></a>

            </div>
        </div>
        <div class="col-md-6 col-sm-12 order-first order-lg-last">
            <img src="https://img.freepik.com/photos-gratuite/drole-heureux-excite-jeune-jolie-femme-assise-table-chemise-noire-travaillant-ordinateur-portable-au-bureau-travail-portant-lunettes_285396-86.jpg?w=1800&t=st=1702829927~exp=1702830527~hmac=b3bc4f6fda5c52770c00d9b73db33815d68124d667c072daea4a4d90a58bb086" alt="" class="img-fluid actu-img">
        </div>
        <!--/four -->
    </div>
</div>
