    <!-- ======  START ABOUT LIST====== -->
    <section class="about-list padding">
        <div class="container">
            <div class="row">

                <!-- START ABOUT LIST SECTION TITLE -->
                <div class="text-center">
                    <h2 class="heading-primary mb-5">Our <span>Creative</span></h2>
                    <p class="mb-3">Lorem Ipsum is simply dummy text of the printing and type setting
                        industry when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book It has survived not only five centuries.</p>
                </div>
                <!-- END ABOUT LIST SECTION TITLE -->

                <!-- START ABOUT ITEM -->
                <div class="about-item col-lg-4 col-md-6 mx-auto p-0 mt-5">
                    <div class="text-center">
                        <i class="icon fa fa-paint-brush fa-2x"></i>
                        <h5>Web Design</h5>
                        <h6>Modern & Clean Design</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry</p>
                    </div>
                </div>
                <!-- END ABOUT ITEM -->

                <!-- START ABOUT ITEM -->
                <div class="about-item col-lg-4 col-md-6 mx-auto p-0 mt-5">
                    <div class="text-center">
                        <i class="icon fa fa-desktop fa-2x"></i>
                        <h5>Development</h5>
                        <h6>Web & Mobile Development</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry</p>
                    </div>
                </div>
                <!-- END ABOUT ITEM -->

                <!-- START ABOUT ITEM -->
                <div class="about-item col-lg-4 col-md-6 mx-auto p-0 mt-5">
                    <div class="text-center">
                        <i class="icon fa fa-diamond fa-2x"></i>
                        <h5>Branding</h5>
                        <h6>Logo Design</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry</p>
                    </div>
                </div>
                <!-- END ABOUT ITEM -->

            </div>
        </div>
    </section>
    <!-- ======  END OF ABOUT LIST====== -->

    <!-- ====== START SKILLS ======  -->
    <section class="skills padding">
        <div class="container">
            <div class="row">

                <!-- START SKILLS LEFT SIDE -->
                <div class="col-lg-5 mx-auto skills-left">
                    <h2 class="heading-primary mb-5">Our <span>Skills</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam ipsam ullam incidunt itaque
                        nemo omnis temporibus totam quibusdam repellat vero, recusandae excepturi dignissimos velit et
                        alias amet, quia facilis perferendis,consectetur adipisicing elit. Aliquam ipsam ullam incidunt
                        itaque nemo omnis.</p>
                </div>
                <!-- END SKILLS LEFT SIDE -->


                <!-- START SKILLS RIGHT SIDE -->
                <div class="col-lg-7 mx-auto skills-right">
                    <div class="content">
                        <div class="skill">

                            <!-- HTML // CSS3 -->
                            <div class="progress-item">
                                <h6>Html // Css3</h6>
                                <div class="skills-progress">
                                    <span data-value="95%"></span>
                                </div>
                            </div>

                            <!-- JQUERY //JAVA SCRIPT -->
                            <div class="progress-item">
                                <h6>Jquery // Java Script</h6>
                                <div class="skills-progress">
                                    <span data-value="80%"></span>
                                </div>
                            </div>

                            <!-- WORDPRESS -->
                            <div class="progress-item">
                                <h6>Wordpress</h6>
                                <div class="skills-progress">
                                    <span data-value="75%"></span>
                                </div>
                            </div>

                            <!-- BOOTSTRAP -->
                            <div class="progress-item">
                                <h6>Bootstrap</h6>
                                <div class="skills-progress">
                                    <span data-value="92%"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END SKILLS RIGHT SIDE -->

            </div>
        </div>
    </section>
    <!-- ====== END SKILLS ======  -->

    <!-- ====== START SERVICES ======  -->
    <section class="services padding" id="services" data-scroll-index="2">
        <div class="container">

            <!-- START SERVICES SECTION TITLE -->
            <h2 class="heading-primary text-center mb-5">Our Services</h2>
            <!-- END SERVICES SECTION TITLE -->

            <div class="row">
                <!-- START CONTENT BOX -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="content-box">
                        <div class="hr-title">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <div class="content-box-icon">
                                        <i class="fa fa-pencil-square-o fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="headerhr"></div>
                        </div>
                        <h5 class="heading-secondary">Designs & interfaces</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis.
                        </p>
                    </div>
                </div>
                <!--END CONTENT BOX -->

                <!--START CONTENT BOX -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="content-box">
                        <div class="hr-title">

                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <div class="content-box-icon">
                                        <i class="fa fa-cog fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="headerhr"></div>
                        </div>
                        <h5 class="heading-secondary">Highly customizable</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, sequi cupiditate! Nobis
                            corporis exercitationem obcaecati magni rerum explicabo vel nemo.
                        </p>
                    </div>
                </div>
                <!--END CONTENT BOX -->

                <!--START CONTENT BOX -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="content-box">
                        <div class="hr-title">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <div class="content-box-icon">
                                        <i class="fa fa-desktop fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="headerhr"></div>
                        </div>
                        <h5 class="heading-secondary">Responsive design</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam laudantium veritatis
                            porro obcaecati, reiciendis.
                        </p>
                    </div>
                </div>
                <!--END CONTENT BOX -->

                <!--START CONTENT BOX -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="content-box">
                        <div class="hr-title">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <div class="content-box-icon">
                                        <i class="fa fa-lightbulb-o fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="headerhr"></div>
                        </div>
                        <h5 class="heading-secondary">Features & plugins</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi voluptatem atque, hic ut
                            necessitatibus nesciunt ullam officia.
                        </p>
                    </div>
                </div>
                <!--END CONTENT BOX -->

                <!--START CONTENT BOX -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="content-box">
                        <div class="hr-title">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <div class="content-box-icon">
                                        <i class="fa fa-clock-o fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="headerhr"></div>
                        </div>
                        <h5 class="heading-secondary">Optimised for speed</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit inventore fugiat rerum enim,
                            quibusdam mollitia laborum magnam nobis sed.
                        </p>
                    </div>
                </div>
                <!--END CONTENT BOX -->

                <!--START CONTENT BOX -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="content-box">
                        <div class="hr-title">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <div class="content-box-icon">
                                        <i class="fa fa-comment-o fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="headerhr"></div>
                        </div>
                        <h5 class="heading-secondary">Dedicated support</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro exercitationem vel dolores
                            harum inventore vitae nam dolor. Molestiae earum repellendus architecto corporis.
                        </p>
                    </div>
                </div>
                <!--END CONTENT BOX -->

            </div>
        </div>
    </section>
 
    <!-- ====== START TESTIMONIALS======  -->
    <section class="test padding">
        <div class="container">
            <div class="row">
                <div class=" offset-md-2 col-md-8 col-1g-12 offset-md-2 mx-auto">
                    <div class="testimonials text-center">
                        <div class="owl-carousel owl-theme">

                            <!-- START TESTIMONIAL -->
                            <div class="testimo">
                                <div class="client-area">
                                    <div class="img">
                                        <div class="author">
                                            <img src="img/team/team-01.jpg" alt="testimonial-picture" />
                                        </div>
                                    </div>
                                    <h6>Alex Smith</h6>
                                    <span>Envato Customer</span>
                                </div>
                                <p>" Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nobis
                                    assumenda nulla ullam ad quibusdam voluptatum, exercitationem autem sequi
                                    excepturi. "</p>
                            </div>
                            <!-- END TESTIMONIAL -->

                            <!-- START TESTIMONIAL -->
                            <div class="testimo">
                                <div class="client-area">
                                    <div class="img">
                                        <div class="author">
                                            <img src="img/team/team-02.jpg" alt="testimonial-picture" />
                                        </div>
                                    </div>
                                    <h6>Sophia</h6>
                                    <span>Envato Customer</span>
                                </div>
                                <p>" Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nobis
                                    assumenda nulla ullam ad quibusdam voluptatum, exercitationem autem sequi
                                    excepturi. "</p>
                            </div>
                            <!-- END TESTIMONIAL -->

                            <!-- START TESTIMONIAL -->
                            <div class="testimo">
                                <div class="client-area">
                                    <div class="img">
                                        <div class="author">
                                            <img src="img/team/team-03.jpg" alt="testimonial-picture" />
                                        </div>
                                    </div>
                                    <h6>James Smith</h6>
                                    <span>Envato Customer</span>
                                </div>
                                <p>" Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nobis
                                    assumenda nulla ullam ad quibusdam voluptatum, exercitationem autem sequi
                                    excepturi. "</p>
                            </div>
                            <!-- END TESTIMONIAL -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== END TESTIMONIALS======  -->

    <!-- ====== START BLOG ======  -->
    <section class="blog padding" id="blog" data-scroll-index="6">
        <div class="container">
            <div class="row">

                <!-- START BLOG SECTION TITLE -->
                <div class="text-center">
                    <h2 class="heading-primary mb-5">Our Blog</h2>
                    <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur,
                        dolores! Iure perspiciatis, minus modi ratione est maiores. Perferendis, porro aperiam.</p>
                </div>
                <!-- END BLOG SECTION TITLE -->

                <!-- BLOG ITEM -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="blog-img">
                        <div class="post-date">
                            <span class="date">10</span>
                            <span class="month">jan</span>
                        </div>
                        <img src="img/hero-03.jpg" alt="blog-image" />
                    </div>
                    <div class="blog-item">
                        <div class="post-title">
                            <a href="#0">
                                <h3>5 Best Responsive Web Design Practices</h3>
                            </a>
                        </div>
                        <div class="post-content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit minima placeat aut
                                obcaecati iusto qui.
                            </p>
                            <a href="#0" class="button">Read More<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="headerhr mt-4"></div>
                        <div class="post-meta">
                            <ul>
                                <li>
                                    <i class="fa fa-tags"></i>
                                    <span>Web Design</span>
                                </li>
                                <li>
                                    <i class="fa fa-book"></i>
                                    <span>8 mins read</span>
                                </li>
                                <li>
                                    <i class="fa fa-comment"></i>
                                    <a href="#0">5</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END BLOG ITEM -->

                <!-- BLOG ITEM -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="blog-img">
                        <div class="post-date">
                            <span class="date">23</span>
                            <span class="month">aug</span>
                        </div>
                        <img src="img/hero-04.jpg" alt="blog-image" />
                    </div>
                    <div class="blog-item">

                        <div class="post-title">
                            <a href="#0">
                                <h3> The Most Important Rule in UX Design </h3>
                            </a>
                        </div>
                        <div class="post-content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod maxime in consectetur.
                            </p>
                            <a href="#0" class="button">Read More<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="headerhr mt-4"></div>
                        <div class="post-meta">
                            <ul>
                                <li>
                                    <i class="fa fa-tags"></i>
                                    <span>User Experience</span>
                                </li>
                                <li>
                                    <i class="fa fa-book"></i>
                                    <span>5 mins read</span>
                                </li>
                                <li>
                                    <i class="fa fa-comment"></i>
                                    <a href="#0">7</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END BLOG ITEM -->

                <!-- BLOG ITEM -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="blog-img">
                        <div class="post-date">
                            <span class="date">12</span>
                            <span class="month">mar</span>
                        </div>
                        <img src="img/hero-01.jpg" alt="blog-image" />
                    </div>
                    <div class="blog-item">

                        <div class="post-title">
                            <a href="#0">
                                <h3>5 Business Trends Set to Rule the Industry</h3>
                            </a>
                        </div>
                        <div class="post-content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi repudiandae itaque
                                enim architecto.
                            </p>
                            <a href="#0" class="button">Read More<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="headerhr mt-4"></div>
                        <div class="post-meta">
                            <ul>
                                <li>
                                    <i class="fa fa-tags"></i>
                                    <span>Business & Tech</span>
                                </li>
                                <li>
                                    <i class="fa fa-book"></i>
                                    <span>9 mins read</span>
                                </li>
                                <li>
                                    <i class="fa fa-comment"></i>
                                    <a href="#0">5</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END BLOG ITEM -->

            </div>
        </div>
    </section>
    <!-- ====== END BLOG ======  -->

   