
<div class="container">
    <div class="row text-center">
        <div class="main-header">
            <h2 class="display-4 mb-3">Nos star enseignants</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta excepturi numquam doloribus
                incidunt deserunt maiores eligendi officia architecto, mollitia fugiat repellat autem velit
                aliquam, aliquid magnam saepe at nesciunt ratione nisi sapiente. Aperiam vitae hic, qui sed
                nobis. Reprehenderit, ex.</p>
        </div>
        <div class="col-md-4">
            <span>
                <img src="https://avatars.githubusercontent.com/u/46715342?v=4" class="rounded-circle top-ld img-fluid w-50 my-4">
            </span>
            <h4 class="service-heading">Lucas D.</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                architecto quo inventore harum ex magni, dicta impedit.</p>
            <div class="d-flex justify-content-center align-items-center gap-2">
                <div class='icon social fb'><i class="fa-brands fa-facebook"></i></div>
                <div class='icon social tw'><i class="fa-brands fa-instagram"></i></div>
                <div class='icon social in'><i class="fa-brands fa-discord"></i></div>
            </div>
        </div>
        <div class="col-md-4">
            <span>
                <img src="https://avatars.githubusercontent.com/u/46715342?v=4" class="rounded-circle top-ld img-fluid w-50 my-4">
            </span>
            <h4 class="service-heading">Lucas D.</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                architecto quo inventore harum ex magni, dicta impedit.</p>
            <div class="d-flex justify-content-center align-items-center gap-2">
                <div class='icon social fb'><i class="fa-brands fa-facebook"></i></div>
                <div class='icon social tw'><i class="fa-brands fa-instagram"></i></div>
                <div class='icon social in'><i class="fa-brands fa-discord"></i></div>
            </div>
        </div>
        <div class="col-md-4">
            <span>
                <img src="https://avatars.githubusercontent.com/u/46715342?v=4" class="rounded-circle top-ld img-fluid w-50 my-4">
            </span>
            <h4 class="service-heading">Lucas D.</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                architecto quo inventore harum ex magni, dicta impedit.</p>
            <div class="d-flex justify-content-center align-items-center gap-2">
                <div class='icon social fb'><i class="fa-brands fa-facebook"></i></div>
                <div class='icon social tw'><i class="fa-brands fa-instagram"></i></div>
                <div class='icon social in'><i class="fa-brands fa-discord"></i></div>
            </div>
        </div>
    </div>
</div>
