{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}
<h1 class="text-center">A Propos</h1>
<div class="container">
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aut est porro unde iste, at magnam consequatur! Voluptates doloribus atque quod neque! Fuga asperiores nihil inventore facilis est fugiat consectetur.
</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aut est porro unde iste, at magnam consequatur! Voluptates doloribus atque quod neque! Fuga asperiores nihil inventore facilis est fugiat consectetur.
</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aut est porro unde iste, at magnam consequatur! Voluptates doloribus atque quod neque! Fuga asperiores nihil inventore facilis est fugiat consectetur.
</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aut est porro unde iste, at magnam consequatur! Voluptates doloribus atque quod neque! Fuga asperiores nihil inventore facilis est fugiat consectetur.
</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aut est porro unde iste, at magnam consequatur! Voluptates doloribus atque quod neque! Fuga asperiores nihil inventore facilis est fugiat consectetur.
</p>
</div>

{% endblock %}
