section#banner {
    background-image: url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}
.fas.fa-heart {
    color: grey;
}

.fas.fa-heart.active {
    color: red;
}
.notification {
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #afedb1;
    color: white;
    border-radius: 5px;
    display: none;
}

.course-card {
    height: 550px;
    width: 800px !important;
}
.course-card .cover-img {
    height: 50%;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#fps {
    margin-top: 5px;
    margin-left: 35px;
}

a {
    color: rgba(255, 255, 255, 0.65);
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 1);
}
