section#banner {
    background-image: url("https://img.freepik.com/photos-gratuite/progeniture-tout-petit-adolescene-joyeuse-fille-concept-heureux_53876-144314.jpg?w=1380&t=st=1702058052~exp=1702058652~hmac=66ffe085fb2379ce51db846b6cb20bf1a53ad5352223d91d505b7202280b99ea");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}
