<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Demande de {{ contact.fullname}}</h1>

  <p>Email: {{contact.email}}</p>
  <p>Subject: {{contact.suject}}</p>
  <p>Message: {{contact.message}}</p>
</body>
</html>