{# {% extends 'base.html.twig' %} #}

{# {% block title %}Liste des langues{% endblock %} #}

{% block body %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Sélectionner la langue
  </button>
    <ul class="dropdown-menu">
      {% for lang in options %}
            <li><a href="{{path('lang_course', {id: lang.id})}}" class="dropdown-item">{{lang.name}}</a></li>
      {% endfor %}    
   </ul>
</div>
   {# cours affiché selon la langue sélectionnée #}
    {# <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for course in coursesCollection %}
        {% include 'index/_course-card.html.twig' with {course.course} %}
      {% endfor %}    
    </div> #}
{% endblock %}
