{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

 <section class="container">
    {% if app.user %}
      <h1 class="text-center">Bienvenue {{app.user.userIdentifier}}</h1>
      {% if app.user.getFavorites()|length > 0 %}
            <h2>Mes cours favoris :</h2>
            <ul>
                {% for favoriteCourse in app.user.getFavorites() %}
                    <li>{{ favoriteCourse.name }}</li>
                    <!-- Add other details you want to display -->
                {% endfor %}
            </ul>
        {% else %}
            <p>Vous n'avez pas encore ajouté de cours à vos favoris. <a href="{{path('course_page')}}" class="text-primary">Allez voir les cours</a>.</p>
        {% endif %}
    {% endif %}
 </section>

{% endblock %}
   